body{
    font-family: 'Quicksand', sans-serif;
    margin:0;
    padding:0;
}
#container{
    width: 100%;
}
#title{
    font-size: 30px;
    margin-top:15px;
    text-align: center;  
}
#linkedIn{
    padding-right: 55px;
}
#github{
    padding-left:55px;
}
#name{
    font-size: 70px;
    margin-top:10%;
    text-align: center;
}
#links{
    text-align: center;
    margin:40px 0 40px 0;
}
#resButton{
    margin: 0 auto;
}
#resume{
    display: block;
    margin: 0 auto;
    background-color: #000011;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    font-family: Quicksand;
}
#resume:focus{
    outline:0;
}
#res{
    text-align:center;
}
